@page "/authentication/login"
@layout EmptyLayout

<div class="d-flex align-center" style="height:calc(100% - 96px)">
    <SSOPortalX.Pages.Authentication.Components.Login />
</div>

<MFooter Padless Height=96 Style="background:transparent;">
    
</MFooter>
